*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.todos_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.todos_container > div {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
.todos_container span {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
